In [1]:
import pandas as pd
from pandas_profiling import ProfileReport

In [6]:
df=pd.read_csv("C:/Users/Akash R/Downloads/Forestcover-main/Forestcover-main/data_given/train/forest_cover_28011992_120212.csv")
df.head(15)

,elevation,aspect,slope,horizontal_distance_to_hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Horizontal_Distance_To_Fire_Points,wilderness_area1,wilderness_area2,wilderness_area3,...,soil_type_32,soil_type_33,soil_type_34,soil_type_35,soil_type_36,soil_type_37,soil_type_38,soil_type_39,soil_type_40,class
0,2424,113,16,268,68,808,1260,0,0,0,...,0,0,0,0,0,0,0,0,0,Douglas_fir
1,3130,40,15,330,24,2279,1650,0,0,1,...,1,0,0,0,0,0,0,0,0,Lodgepole_Pine
2,3071,62,5,212,40,1321,2697,1,0,0,...,0,0,0,0,0,0,0,0,0,Lodgepole_Pine
3,3151,9,17,95,19,577,2029,0,1,0,...,0,0,0,0,0,0,0,0,0,Spruce_Fir
4,3139,74,3,283,9,2522,1463,1,0,0,...,0,0,0,0,0,0,0,0,0,Spruce_Fir
5,3089,328,7,175,7,242,1936,0,1,0,...,0,0,0,0,0,0,0,0,0,Spruce_Fir
6,3224,29,20,134,26,1052,1543,1,0,0,...,0,0,0,0,0,0,0,0,0,Ponderosa_Pine
7,2778,98,10,95,14,2863,240,0,0,1,...,0,0,0,0,0,0,0,0,0,Lodgepole_Pine
8,2822,348,21,60,9,2440,927,0,0,1,...,0,0,0,0,0,0,0,0,0,Lodgepole_Pine
9,2768,6,12,466,-19,721,789,0,0,1,...,0,0,0,0,0,0,0,0,0,Lodgepole_Pine
10,2916,72,3,240,23,390,404,0,0,1,...,0,0,0,0,0,0,0,0,0,Krummholz
11,2689,77,33,30,24,1528,1073,0,0,1,...,0,0,0,0,0,0,0,0,0,Lodgepole_Pine
12,3137,144,11,60,0,2007,2588,1,0,0,...,0,0,0,0,0,0,0,0,0,Lodgepole_Pine
13,2520,67,10,42,0,1176,1544,0,0,1,...,0,0,0,0,0,0,0,0,0,Lodgepole_Pine
14,2983,350,11,95,26,3632,2423,1,0,0,...,0,0,0,0,0,0,0,0,0,Lodgepole_Pine

Name / Data Type / Measurement / Description

Elevation / quantitative /meters / Elevation in meters

Aspect / quantitative / azimuth / Aspect in degrees azimuth

Slope / quantitative / degrees / Slope in degrees

Horizontal_Distance_To_Hydrology / quantitative / meters / Horz Dist to nearest surface water features

Vertical_Distance_To_Hydrology / quantitative / meters / Vert Dist to nearest surface water features

Horizontal_Distance_To_Roadways / quantitative / meters / Horz Dist to nearest roadway

Hillshade_9am / quantitative / 0 to 255 index / Hillshade index at 9am, summer solstice

Hillshade_Noon / quantitative / 0 to 255 index / Hillshade index at noon, summer soltice

Hillshade_3pm / quantitative / 0 to 255 index / Hillshade index at 3pm, summer solstice

Horizontal_Distance_To_Fire_Points / quantitative / meters / Horz Dist to nearest wildfire ignition points

Wilderness_Area (4 binary columns) / qualitative / 0 (absence) or 1 (presence) / Wilderness area designation

Soil_Type (40 binary columns) / qualitative / 0 (absence) or 1 (presence) / Soil Type designation

Cover_Type (7 types) / integer / 1 to 7 / Forest Cover Type designation

In [7]:
profile = ProfileReport(df)

In [9]:
profile.to_widgets()

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [10]:
profile.to_file("ProfileReport.html")

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [11]:
df.describe()

,elevation,aspect,slope,horizontal_distance_to_hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Horizontal_Distance_To_Fire_Points,wilderness_area1,wilderness_area2,wilderness_area3,...,soil_type_31,soil_type_32,soil_type_33,soil_type_34,soil_type_35,soil_type_36,soil_type_37,soil_type_38,soil_type_39,soil_type_40
count,10001.000000,10001.000000,10001.000000,10001.000000,10001.000000,10001.000000,10001.000000,10001.000000,10001.000000,10001.000000,...,10001.000000,10001.000000,10001.000000,10001.000000,10001.000000,10001.000000,10001.0000,10001.000000,10001.000000,10001.000000
mean,2960.542546,154.673033,14.121188,267.012299,46.408459,2333.747025,1969.249375,0.446355,0.050795,0.440156,...,0.042896,0.096790,0.076192,0.002100,0.003500,0.000300,0.0001,0.025897,0.022998,0.017998
std,279.650497,111.887733,7.474564,211.584881,57.930359,1536.500439,1313.107337,0.497139,0.219590,0.496431,...,0.202632,0.295687,0.265319,0.045778,0.059057,0.017318,0.0100,0.158837,0.149903,0.132951
min,1891.000000,0.000000,0.000000,0.000000,-147.000000,0.000000,30.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000
25%,2806.000000,57.000000,9.000000,108.000000,7.000000,1106.000000,1026.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000
50%,3000.000000,125.000000,13.000000,216.000000,29.000000,1991.000000,1695.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000
75%,3162.000000,260.000000,18.000000,384.000000,70.000000,3282.000000,2539.000000,1.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000
max,3814.000000,359.000000,60.000000,1356.000000,463.000000,6942.000000,7110.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0000,1.000000,1.000000,1.000000

In [14]:
df.isna().sum()   #No missing values

elevation                             0
aspect                                0
slope                                 0
horizontal_distance_to_hydrology      0
Vertical_Distance_To_Hydrology        0
Horizontal_Distance_To_Roadways       0
Horizontal_Distance_To_Fire_Points    0
wilderness_area1                      0
wilderness_area2                      0
wilderness_area3                      0
wilderness_area4                      0
soil_type_1                           0
soil_type_2                           0
soil_type_3                           0
soil_type_4                           0
soil_type_5                           0
soil_type_6                           0
soil_type_7                           0
soil_type_8                           0
soil_type_9                           0
soil_type_10                          0
soil_type_11                          0
soil_type_12                          0
soil_type_13                          0
soil_type_14                          0
soil_type_15                          0
soil_type_16                          0
soil_type_17                          0
soil_type_18                          0
soil_type_19                          0
soil_type_20                          0
soil_type_21                          0
soil_type_22                          0
soil_type_23                          0
soil_type_24                          0
soil_type_25                          0
soil_type_26                          0
soil_type_27                          0
soil_type_28                          0
soil_type_29                          0
soil_type_30                          0
soil_type_31                          0
soil_type_32                          0
soil_type_33                          0
soil_type_34                          0
soil_type_35                          0
soil_type_36                          0
soil_type_37                          0
soil_type_38                          0
soil_type_39                          0
soil_type_40                          0
class                                 0
dtype: int64